<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div style="width: 20%; float: left;">
		<h3 th:inline="text">¡ Welcome to HulkStore !</h3>	
		<div>
			<ul>
			<li type="circle"><a th:href="@{/showCart}">Buy</a></li>
	        <li type="circle"><a th:href="@{/getListProducts}">Products</a></li>
	        <li type="circle"><a th:href="@{/logout}">LogOut</a></li>
			</ul>
		</div>
	</div>
	<div style="width: 85%; float: right;">
		<h3 style="text-align:center">Cart</h3>
  		<h4 style="text-align:center"><span class="text-success" th:utext="${message}"></span></h4style="text-align:center">
    </div>
</body>
</html>